# Dependency directories
node_modules/
jspm_packages/

# Vite files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.vite/

# Python temporary venv files
__pycache__/
/backend/.venv/

# data & results
/backend/data/
/backend/results/